<div>
    <div>
        <img src="images/Fotoinicio.jpg" class="d-block w-100" alt="...">
    </div>
</div>

<div id="presentacion" class="container-fluid text-center scroll_section">
    <h2>¿Quiénes somos?</h2>
    <p style="padding-top: 25px">Somos #coomuniccar
        Celebramos 13 años de haber sostenido una forma distinta, colectiva, de habitar, trabajar y compartir, elegida
        por quienes somos parte. Sin recetas impuestas. Con mucho esfuerzo, siendo parte de una montaña rusa emocional
        🎢 Pero con la convicción de que el hacer cooperativo, equitativo, con perspectiva de géneros es el camino
        correcto.
    </p>
    <p>Brindamos servicios de comunicación integral:
        🎥 Producciones audiovisuales
        📱 Gestión de redes sociales
        🎨 Diseño gráfico
        💻 Desarollo web
        📸 Foto de producto
        🎙️ Grabaciones en estudio
        🎧 Edición de podcast, spot y productos sonoros
        🎚️ Realización integral de spot publicitarios
        🗣️ Servicio de locución y voces

        💚Gestionamos @fmcooperativa105uno</p>
</div>

<div id="servicios" class="col-10 scroll_section" .ms 5 style="margin-left: 100px; margin-right: 100px;">
    <h2 class="container-fluid text-center">Servicios</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4" .ms 5 style="padding-top: 20px;">
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/audiovisual.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Audiovisual </h5>
                    <p class="card-text"> Preproducción, producción y postproducción. Motion graphics.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/disenografico.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diseño gráfico</h5>
                    <p class="card-text"> Diseño editorial. Branding. Diseño de identidad. Logotipográfia. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/fotografia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fotografía</h5>
                    <p class="card-text">Books profesionales. Fotografía de productos.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/asesorias.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Asesorías</h5>
                    <p class="card-text">Diagnóstico y capacitación en comunicación, diseño y utilización de plataformas
                        y herramientas digitales.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4" style="padding-top: 20px;">
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/gestionderedes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestión de redes sociales</h5>
                    <p class="card-text">Desarrollo de estrategias de comunicación integrales. Community management.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/sonido.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sonido</h5>
                    <p class="card-text">Edición y producción de sonido. Podcast. Radio.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/correcciondeestilo.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Corrección de estilo</h5>
                    <p class="card-text">Corrección ortotipográfica y revisión lingüística.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-light">
                <img src="images/creaciondecontenidos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Creación de contenidos</h5>
                    <p class="card-text">Desarrollo integral de guiones. Redacción de textos. Desarrollo de ideas y
                        escritura creativa.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="trabajos" class="container text-center scroll_section">
    <h2>Trabajos</h2>
</div>
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/TrabajosCoopeWeb1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:black">Páginas Web para instituciones</h5>
                <p style="color:black">Creamos la maquetación de páginas web</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/TrabajosCoopeWeb2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:black">Fotografía de producto</h5>
                <p style="color:black">Fotografiamos tu producto o servicio</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/TrabajosCoopeWeb3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:black">Diseñamos tu marca</h5>
                <p style="color:black">Diseñamos todo lo necesario gráficamente para que tu marca se destaque</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div>
    <div id="novedades" class="container text-center scroll_section">
        <h2 class="container-fluid text-center">Novedades</h2>
    </div>
    <div id="cardsnovedades" class="row row-cols-1 row-cols-md-3 g-4">
        {{#each novedades}}
        <div class="col">
            <div class="card h-100"> <a href="#" data-bs-toggle="modal" data-bs-target="#modal{{id}}">
                    <img src="images/FotoReconocimiento.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{titulo}}</h5>
                        <p class="card-text">{{subtitulo}}</p>
                    </div>
                </a>
                <div class="card-footer">
                    <small class="text-muted">Last updated 1 mins ago</small>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

{{#each novedades}}
<div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{titulo}}</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>{{subtitulo}}</h3>
                <p>{{cuerpo}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
<div id="visitanos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.3299692951373!2d-58.73344785680499!3d-38.5722485855907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x958f97e697ee2729%3A0xc23b4910ac90ff04!2sCooperativa%20de%20Trabajo%20Coomuniccar%20Ltda!5e0!3m2!1ses!2sar!4v1674792418844!5m2!1ses!2sar"
            width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-4 mt-4 mt-sm-0">
        <h2>Contactanos</h2>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="texto" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
            </div>
            <div class="col-12">
                <label for="tel" class="form-label">Tel</label>
                <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
            </div>
            <div class="col-12">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3" name="mensaje"> </textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <p>{{message}}</p>
    </div>
</div>